@keyframes surroundingMove {
    0% {
        transform: rotate(0deg) translate(100px) rotate(360deg);
    }
    100% {
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
    
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.fixedPart {
    width:150px;
    height: 150px;
    background-color: gold;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
}
.movingPart {
    width:50px;
    height: 50px;
    background-color: blue;
    border-radius: 50%;
    transform: translate(100px);
}
.animation {
     animation: surroundingMove 4s linear infinite ;
}
.btn {
    cursor: pointer;
    width: 100px;
    height: 50px; 
    border-radius: 40%;
    color: white;
    font-size: 1.5rem;
    text-align: center;
    display: inline-block;
}
.buttonsGroup {
    width: 400px;
    height: 60px;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 120px;
}
.btnStart {
    background-color: green;
}
.btnStop {
    background-color: red;
}
